* {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  color: #333;
  text-decoration-skip: ink;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 17px;
  line-height: 28px;
  color: #333;
  max-width: 700px;
  margin: auto;
}
p {
  margin: 20px 0;
}
a img {
  border: none;
}
img {
  margin: 10px auto 10px auto;
  max-width: 100%;
  display: block;
}
.left-justify {
  float: left;
}
.right-justify {
  float: right;
}
pre, code {
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #f7f7f7;
}
code {
  font-size: 14px;
  padding: 4px;
}
pre {
  margin-top: 0;
  margin-bottom: 16px;
  word-wrap: normal;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
}
pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
pre code::before, pre code::after {
  content: normal;
}
/* footnotes */
sup {
  vertical-align: super;
  font-size: .75em;
}
.footnotes {
  font-size: .9em;
}
/* figure captions */
.caption {
  text-align: center 
}
em,q,em,dfn {
  font-style:italic;
}
.sans,html .gist .gist-file .gist-meta {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.mono,pre,code,tt,p code,li code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.heading,.serif,h1,h2,h3 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
  line-height: 120%;
}
strong {
  font-weight:600;
}
q:before {
  content:"\201C";
}
q:after {
  content:"\201D";
}
del,s {
  text-decoration:line-through;
}
blockquote {
  text-align:center;
  padding:16px;
}
blockquote p {
  display:inline-block;
  font-style:italic;
}
blockquote:before,blockquote:after {
  content: "\201C";
  font-size: 35px;
  color: #738491;
}
blockquote:after {
  content: "\201D";
}
hr {
  width:40%;
  height: 1px;
  background:#738491;
  margin: 25px auto;
}
h1 {
  font-size: 35px;
  color: #333333;
}
h2 {
  font-size: 28px;
  color: #333333;
}
h3 {
  font-size: 22px;
  margin-top: 18px;
}
h1 a,h2 a,h3 a {
  text-decoration:none;
  color:#333333;
}
h1,h2 {
  margin-top:28px;
}
#sub-header, time {
  color: #738491;
  font-size: 15px;
}
#sub-header {
  margin: 0 4px;
}
#nav h1 a {
  font-size: 35px;
  color:purple;
  line-height: 120%;
}
.posts_listing a, #nav a {
  text-decoration: none;
  color:#333333;
}
li {
  margin-left: 1.6rem;
}
ul li {
  margin-left: 1.2rem;
}
.posts_listing li {
  list-style-type: none;
}
#content {
  text-align: left;
  width: 100%;
  font-size: 17px;
  padding: 60px 0 80px;
}
#content h1, #content h2 {
  margin-bottom: 5px;
}
#content h2 {
  font-size: 25px;
}
#content .entry-content {
  margin-top: 16px;
}
#content time {
  margin-left:3px;
}
#content h1 {
  font-size: 30px;
}
.highlight {
  margin: 10px 0;
}
.posts_listing {
  margin:0 0 50px;
}
.posts_listing li {
  margin:0 0 25px 15px;
}
.posts_listing li a:hover,#nav a:hover {
  text-decoration: underline;
  color:purple;
}
#nav {
  text-align:center;
  position:static;
  margin-top:60px;
}
#nav ul {
  display: table;
  margin: 8px auto 0 auto;
}
#nav li {
  list-style-type: none;
  display: table-cell;
  font-size: 16px;
  padding: 0 20px;
}
#links {
  margin: 50px 0 0 0;
}
#links :nth-child(2) {
  float:right;
}
#not-found {
  text-align: center;
}
#not-found a {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 80px;
  text-decoration: none;
  display: inline-block;
  padding-top: 225px;
}
@media (max-width: 750px) {
  body {
      padding-left:20px;
      padding-right:20px;
 }
  #nav h1 a {
      font-size: 28px;
      color:purple;
 }
  #nav li {
      font-size: 16px;
      padding: 0 16px;
 }
  #content {
      margin-top: 0;
      padding-top: 50px;
      font-size: 16px;
 }
  #content h1 {
      font-size: 25px;
 }
  #content h2 {
      font-size: 22px;
 }
  .posts_listing li div {
      font-size: 12px;
 }
}
@media (max-width: 400px) {
  body {
      padding-left:20px;
      padding-right:20px;
 }
  #nav h1 a {
      font-size: 22px;
      color:purple;
 }
  #nav li {
      font-size: 14px;
      padding: 0 12px;
 }
  #content {
      margin-top: 0;
      padding-top: 20px;
      font-size: 16px;
 }
  #content h1 {
      font-size: 20px;
 }
  #content h2 {
      font-size: 18px;
 }
  .posts_listing li div{
      font-size: 12px;
 }
}

/* COOKIES */

#cookie-notice {font-size: smaller; padding: 0.5rem 1rem; display: block; position: fixed; margin: 20px 0;
text-align: center; bottom: 0; left: 10%; right: 10%; width: 80%; background: rgb(255, 255, 255);border:1px solid #BBBBBB;
color: #333333;}

#cookie-notice a {font-weight: 100; display: inline-flex; cursor: pointer; margin-left: 0.5rem;}
#cookie-notice-accept {color:#800080; text-decoration:underline}
#cookie-notice-deny {color:#800080}
#cookie-masinfo {color:#333333; text-decoration:none}
/*@media (max-width: 767px) {
    #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 1rem;}
    #cookie-notice a {position: relative; bottom: 4px;}
    #cookie-notice {left: 0px;}
}*/
