<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="/favicon-alt.png">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="referrer" content="no-referrer">
  {{ if .Site.Params.description }}
  <meta name="description" content="{{ .Site.Params.description }}">
  {{else}}
  <meta name="description" content="¿Oxidado en el trabajo? Te mando una idea diaria para que deje de ser así.">
  {{ end }}


  <title>
    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
    {{ if eq $url "/" }}
    {{ .Site.Title }}
    {{ else }}
    {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
    {{ end }}
  </title>
  <link rel="canonical" href="{{ .Permalink }}">

  <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />

  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
  
  <!-- MailerLite Universal -->
<script>
(function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
_.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

var ml_account = ml('accounts', '3871268', 'z7d5z5e3h3', 'load');
</script>
<!-- End MailerLite Universal -->

</head>

<body>
<section id=nav>
  <h1><a href="/">{{ .Site.Params.sitename }}</a></h1>
  <ul>
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}"><strong>{{ .Name }}</strong></a></li>
    {{ end }}
  </ul>
</section>