<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <!-- <link rel="stylesheet" href="css/fonts.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="/img/favicon.png">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="referrer" content="no-referrer">
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  {{ if .Params.noindex }}
  <meta name="robots" content="noindex">
  {{ end }}

  <title>
    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
    {{ if eq $url "/" }}
    {{ .Site.Title }}
    {{ else }}
    {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
    {{ end }}
  </title>
  <link rel="canonical" href="{{ .Permalink }}">

  <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />

   <!-- MailerLite Universal -->
   <script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '504889');
  </script>
  <!-- End MailerLite Universal -->
   
<script>
/* SealMetrics Tracker Code */
  (function() {
  var options = {
     account: '67a1080b2a051106116829f1',
     event: 'pageview',
     use_session: 1,
  };
  var url="//app.sealmetrics.com/tag/v2/tracker";function loadScript(callback){var script=document.createElement("script");script.src=url;script  .async=true;script.onload=function(){if(typeof callback==="function"){callback();}};script.onerror=function(){console.error("Error loading script:   "+url);};document.getElementsByTagName("head")[0].appendChild(script);}loadScript(function(){options.id=Math.floor((Math.random()*999)+1);if(window  .sm){var instance=new window.sm(options);instance.track(options.event);}else{console.error("sm2 plugin is not available");}});
  })();
/* End SealMetrics Tracker Code */
</script>

{{ template "partials/cookie_consent.html"}}

</head>

<body>
<section id=nav>
  <h1><a href="/">{{ .Site.Params.sitename }}</a></h1>
  <ul>
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}"><strong>{{ .Name }}</strong></a></li>
    {{ end }}
  </ul>
</section>
