{{ partial "header.html" . }}

<hr>
<section id=preabout>
  <div id=intro>
    <p>
      <i class="fa fa-bookmark" style="color:purple"></i>
      Almacenar gran cantidad de datos es inútil si lo que contienen no es información sino ruido.
    </p>
    <p>
      <i class="fa fa-male" style="color:purple"></i>
      Me llamo Leonardo Hansa y envío un boletín por correo con el que te ayudo a decidir qué datos tienen la información relevante para tu trabajo.
    </p>
  </div>
</section>

<hr>

<div class="ml-embedded" data-form="HwWIEu"></div>

<section id=suscribete>
  <div>
    <h3>¿Crees que la inteligencia artificial no sirve para tu caso?</h3>
    <p>Estoy de acuerdo, <b>no te sirve de nada.</b></p>
    <p>Pero que conozcas los datos de tu negocio sí es necesario para tomar decisiones.</p>
    <p>Te cuento algunas de las cosas que aprenderás si te suscribes a mi boletín. Considera tú sí te ayudarán a gestionar mejor tus proyectos de datos.</p>
    <p><ul>
      <li>Qué es lo único imprescindible si quieres dar <b>una respuesta basada en datos</b> a un problema de negocio (no, no es un experto en data science).</li>
      <li>La <b>habilidad que requerirás en tu día a día</b>, mucho más que saber ajustar modelos de machine learning.</li>
      <li>El <b>error que cometí en un proyecto de predicción</b> de captación de nuevos clientes (por el que me cayó una bronca importante y tuve que rehacer gran parte del trabajo).</li>
      <li>Lo que pensaron de otra predicción mía en otro proyecto, cómo me hicieron "ajustarla" y cuál resultó ser la predicción buena un año después.</li>
      <li>Por qué <b>es frecuente cometer errores en proyectos de datos</b> (y por qué nadie debería preocuparse).</li>
      <li>La <b>gente usa mal Excel.</b> Te cuento con 13 pecados a qué me refiero.</li>
      <li>Cuáles deberían ser los <b>formatos de almacenamiento</b> de datos más usados frente a cuáles se usan (y por qué los primeros son mejores).</li>
      <li>Quién puede <b>sacar partido realmente a un máster</b> o curso en ciencia de datos e inteligencia artificial.</li>
      <li>Cuál sigue siendo el <b>lenguaje más importante en datos (no es Python).</b></li>
      <li>Qué técnicas estadísticas íbamos a usar en un proyecto en el que <b>me obligaron a decir que era de "machine learning"</b> cuando realmente no lo era, pero había que decirlo para venderlo.</li>
      <li>Hasta qué punto sirve <b>Excel</b> a día de hoy en proyecto de datos.</li>
      <li>Por qué casi todo el mundo usa <b>Python</b> si ni siquiera es óptimo en el sector.</li>
    </ul></p> 
  </div>
  </br>
  <div>
    <p>En más de 10 años en el sector he visto aciertos y errores en cantidad (lo segundo sobre todo) que me han ayudado a entender mejor cuándo tener una cultura de datos sí sirve.</p>
    <p></p>Cada semana <b>te mando un correo con esos aciertos y esos errores.</b></p>
  </div>

  <div class="ml-embedded" data-form="HwWIEu"></div>
</section>

<section id=testimonios>
  <div>
    <h3>Qué dicen los suscriptores sobre mis correos</h2>
    <blockquote>
        <p>Me ha parecido bastante cautivador tu enfoque didáctico sobre este mundo tan tedioso en el que vivimos los que nos dedicamos a estas cuestiones del mundo de los datos. (C.P)</p>
    </blockquote>
    <blockquote>
        <p>Excelente. Tienes mucha razón. Muchas veces aprendemos herramienta que no necesariamente tenemso que usar. (H.S)</p>
    </blockquote>
    <blockquote>
        <p>Ayudas a muchos. Así se hace. (A.Z)</p>
    </blockquote>
    <blockquote>
        <p>Me ha parecido muy interesante tu reflexión. No imaginaba esa situación. (R.S)</p>
    </blockquote>
    <blockquote>
        <p>Gracias por tus correos, siempre tan interesantes. (A.G)</p>
    </blockquote>
    <blockquote>
        <p>Me apunto esa librería! (J.P)</p>
    </blockquote>
  </div>
</section>

<section id=subscribe2>
  <div class="ml-embedded" data-form="HwWIEu"></div>
</section>


</br>
</br>




{{ partial "footer.html" . }}
