{{ partial "header.html" . }}

<hr>
<section id=preabout>
  <div id=intro>
    <p>
      <i class="fa fa-male" style="color:purple"></i>
      Soy un matemático amante del chocolate. Me dedico a analizar datos y a enseñar cómo lo hago. 
    </p>
    <p>
      <i class="fa fa-bookmark" style="color:purple"></i>
      Aquí encontrarás aprendizajes y trucos interesantes sobre datos... al menos para mí.
    </p>
    <!--
    <p>
      <i class="fa fa-map-pin" style="color:purple"></i> Madrid, Europa, Laniakea.
    </p>
    -->
  </div>
</section>

<hr>



{{ partial "footer.html" . }}
