{{ partial "header.html" . }}

<hr>
<section id=preabout>
  <div id=intro>
    <p>
      <i class="fa fa-male" style="color:purple"></i>
      Soy un matemático que trabaja con datos. Me dedico a su análisis y a enseñar cómo lo hago. 
    </p>
    <p>
      <i class="fa fa-bookmark" style="color:purple"></i>
      Aquí encontrarás aprendizajes y trucos sobre datos interesantes... al menos para mí.
    </p>
    <p>
      <i class="fa fa-map-pin" style="color:purple"></i> Madrid, Europa, Laniakea.
    </p>
  </div>
</section>

<hr>

<section id=content>
  <ul class=posts_listing>
    {{ range first 11 .Data.Pages.ByDate.Reverse }}
      <li>
        <h2><a href="{{ .Permalink }}">{{.Title}}</a></h2>
        <div id=date>
          <time>{{ .Date.Format (.Site.Params.dateform | default "2006/01/02") }}</time>
        </div>
        {{ .Summary }}
        {{ if .Truncated }}
        <div>
          <a href="{{ .Permalink }}">Sigue por aquí…</a>
        </div>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}
